@import "tailwindcss";
@plugin "flyonui";
@import "flyonui/variants.css";
@source "./node_modules/flyonui/flyonui.js";
@plugin "@iconify/tailwind4";

html, body {
  background-color: #FAFAFA;
  color: #374151;
  overflow-x: hidden;
}

.how-taxe {
  background-image: url('/assets/images/1.png');
  background-size: cover;

}

.tracking{
  letter-spacing: 17px;
}